.xCenter {
  left: 50%;
  transform: translate(-50%); }

.topicWrapper {
  text-align: center;
  width: 70vw;
  top: 6vw;
  position: relative; }
  .topicWrapper .activeTopic {
    color: red;
    font-size: 2vw; }
  .topicWrapper .inactiveTopic {
    color: rgba(100, 100, 100, 0.7);
    font-size: 2vw; }
  .topicWrapper .topicContent {
    font-size: 5vw;
    position: relative; }
    .topicWrapper .topicContent a, .topicWrapper .topicContent a:focus, .topicWrapper .topicContent a:visited, .topicWrapper .topicContent a:hover, .topicWrapper .topicContent a:active {
      color: black; }

.topicTop {
  position: relative;
  font-size: 2.5vw;
  text-align: center;
  top: 3vw; }

.selectQuestion {
  text-align: center;
  font-size: 1.5vw;
  margin-bottom: 2vw; }

.selectButtonsWrapper {
  position: relative;
  width: 20vw;
  top: 15vw; }

.bigButtonWrapper {
  width: 20vw;
  position: relative;
  top: 0.5vw; }
  .bigButtonWrapper .speechesButton {
    background-color: blue; }
  .bigButtonWrapper .speakButton {
    background-color: green; }
  .bigButtonWrapper a {
    text-decoration: none; }

.bigButton {
  width: 20vw;
  height: 4vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  border: none;
  border-radius: 0.3vw; }

.bigButton:focus {
  outline: none; }

.buttonTitle {
  position: relative;
  top: 3vw; }
  .buttonTitle span {
    font-size: 1.5vw;
    position: absolute;
    right: -1vw;
    background-color: red;
    color: white;
    border-radius: 3vw;
    padding: 0.5vw; }
  .buttonTitle .inactive {
    display: none; }

.topRoot {
  background-color: rgba(0, 0, 255, 0.6);
  color: white; }

.middleRoot {
  background-color: #008200;
  color: white; }

.topRead {
  background-color: rgba(0, 255, 0, 0.4);
  color: black; }

.middleRead {
  background-color: rgba(0, 0, 255, 0.4);
  color: black; }

.bottomRead {
  background-color: rgba(255, 0, 0, 0.4);
  color: black; }

.topSpeak {
  background-color: rgba(0, 255, 0, 0.7);
  color: black; }

.middleSpeak {
  background-color: rgba(0, 0, 255, 0.7);
  color: black; }

.bottomSpeak {
  background-color: rgba(255, 0, 0, 0.7);
  color: black; }

.searchForm {
  font-size: 2vw; }
  .searchForm select {
    font-size: 1.8vw;
    text-align: center;
    text-align-last: center;
    margin: 2.1vw 1vw 0vw 1vw;
    padding: 0vw 1vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.1vw; }
    .searchForm select option {
      text-align: center; }
  .searchForm select:first-child {
    margin-left: 0vw; }
  .searchForm input {
    font-size: 1.7vw; }

.statementWrapper {
  font-size: 2.3vw;
  background-color: white;
  padding: 1vw;
  margin: 2vw 1vw; }

.postWrapper {
  width: 95%;
  position: relative;
  padding: 0.01vw 0.5vw 4vw 0.5vw;
  margin-bottom: 6vw; }

.readerWrapper {
  padding: 2vw; }
  .readerWrapper .agree {
    background-color: rgba(0, 255, 0, 0.4); }
  .readerWrapper .neutral {
    background-color: rgba(0, 0, 255, 0.4); }
  .readerWrapper .disagree {
    background-color: rgba(255, 0, 0, 0.4); }

body {
  margin: 0; }

#nullspeakRoot {
  width: 97vw;
  height: 100vh;
  position: relative; }

#app {
  width: 100%;
  height: 100%; }

.inactive {
  display: none; }

a {
  text-decoration: none; }

.fa-bars {
  font-size: 2vw;
  position: absolute;
  top: 2vw;
  right: 3vw;
  z-index: 10; }

.fa-bars:hover {
  cursor: pointer; }

.chevron {
  font-size: 5vw;
  top: 50%;
  transform: translateY(-50%);
  position: absolute; }

.chevron:hover {
  cursor: pointer; }

.fa-chevron-left {
  left: -5vw; }

.fa-chevron-right {
  right: -5vw; }

/*# sourceMappingURL=style.css.map */
