.bigButtonWrapper{
	width: 20vw;
	position: relative;
	top: 10vw;

	.speechesButton{
		background-color: blue;
	}
	.speakButton{
		background-color: green;
	}
}

.bigButton{
	width: 20vw;
	height: 4vw;
	margin-bottom: 2vw;
	font-size: 2.5vw;
}