.topicWrapper{
	text-align: center;
	width: 70vw;
	top: 6vw;
	position: relative;

	.activeTopic{
		color: rgba(255,0,0,1);
		font-size: 2vw;

	}

	.inactiveTopic{
		color: rgba(100,100,100, 0.7);
		font-size: 2vw;
	}

	.topicContent{
		font-size: 5vw;
		position: relative;

		a, a:focus, a:visited, a:hover, a:active{
			color: rgb(0,0,0);
		}
	}
}